{% extends 'base.html.twig' %}

{% block title %}Hello CvController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>/home/babs/ws/rum/src/Controller/CvController.php</code>
			</li>
			<li>Your template at
				<code>/home/babs/ws/rum/templates/cv/index.html.twig</code>
			</li>
		</ul>
		<p>Birthday:
			{{ dob | date('d.m.Y') }}
		</p>
	</div>
{% endblock %}
